.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  margin-bottom: 4px;
}

input[type='text'] {
  margin-bottom: 20px;
  padding: 8px 12px;
  border: none;
}

input[type='submit'] {
  padding: 8px 12px;
  border: none;
  background: gray;
  color: white;
}

/* Entry */
form.entry {
  width: 320px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
}

form.entry .errorMsg {
  margin-bottom: 12px;
  color: red;
}

/* Layout */
.layout {
  height: 100%;
  position: relative;
}

.sidebar {
  width: 300px; height: 80%;
  padding: 24px;
  position: fixed;
  top: 10%;
  border-right: 1px solid rgba(0,0,0,0.04);
  box-sizing: border-box;
}

.sidebar form {
  width: 100%; height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sidebar ul.curSelections {
  margin: 0 0 12px; padding: 0;
  flex-grow: 1;
  list-style: none;
  overflow-y: scroll;
}

.sidebar ul.curSelections>li {
  margin-bottom: 8px;
  padding: 16px;
  background: #f8f8f8;
}

.photoCounter {
  margin-bottom: 12px;
  font-weight: bold;
}

.toggleDarkMode {
  margin-top: 12px;
}

.content {
  height: 100%;
  margin-left: 300px;
  padding: 24px 4px 24px 24px; /* adjust for padding of li */
  box-sizing: border-box;
  overflow-y: scroll;
}

ul.imgList {
  margin: 0; padding: 0;
  list-style: none;
}

ul.imgList>li {
  width: 33.33%;
  margin: 0; padding: 0 20px 20px 0;
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

ul.imgList>li .shield {
  position: absolute;
  top: 0; right: 20px; bottom: 20px; left: 0;
  cursor: pointer;
  user-select: none;
}

ul.imgList>li .shield>.selectedFill {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  border: 4px solid black;
  background: rgba(255,255,255,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

ul.imgList>li img {
  width: 100%;
  display: block;
}

/*ul.imgList>li>img:hover {
  border: 4px solid blue;
  box-sizing: border-box;
}*/
