.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundFull {
  background-image: url('./img/mtn.jpg');
  background-size: cover;
  background-position: center;
}

.copy {
  position: fixed;
  bottom: 16px; left: 16px;
  font-size: 0.64em;
}

label {
  margin-bottom: 8px;
}

input[type='text'] {
  margin-bottom: 20px;
  padding: 12px;
  border: none;
}

input[type='submit'] {
  padding: 12px;
  border: none;
  font-weight: bold;
  background: gray;
  color: white;

  transition: background-color 0.28s ease-in-out;
}
input[type='submit']:hover {
  background: cornflowerblue;

  transition: background-color 0.16s ease-in-out;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  z-index: 2;
}

.overlay .close {
  width: 80px; height: 80px;
  padding: 16px;
  position: absolute;
  top: 0; left: 0;
  border: none;
  font-size: 0.8em;
  background: black;
  color: white;
}

.overlay h1 {
  margin-bottom: 24px;
}

.overlay p {
  margin-bottom: 8px;
}

.overlay .cta {
  font-weight: bold;
  color: limegreen;
}

.overlay table.invoice {
  margin: 24px 0;
  border-collapse: collapse;
  text-align: left;
  background: whitesmoke;
}

.overlay table.invoice tr {
  height: 32px;
}

.overlay table.invoice tr.divider {
  width: 100%; height: 1px;
  margin: 16px 0;
  display: block;
  background: gray;
}

.overlay table.invoice th, .overlay table.invoice td {
  padding: 16px;
}

.overlay table.invoice .totalCol {
  text-align: right;
}

.overlay table.invoice .total {
  font-weight: bold;
}

.overlay .copyText {
  width: 80%;
  background: whitesmoke;
}

/* Entry */
form.entry {
  width: 320px;
  margin: 0 16px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  background: rgba(255,255,255,0.8);
  z-index: 1;
}

form.entry h1 {
  margin-bottom: 12px;
}

form.entry p {
  margin-bottom: 32px;
}

form.entry .errorMsg {
  margin-bottom: 12px;
  font-size: 0.8em;
  color: red;
}

/* Layout */
.layout {
  height: 100%;
  position: relative;
  z-index: 1;
}

.sidebar {
  width: 300px; height: 80%;
  padding: 32px;
  position: fixed;
  top: 10%;
  border-right: 1px solid rgba(0,0,0,0.04);
  box-sizing: border-box;
}

.sidebar form {
  width: 100%; height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar ul.curSelections {
  margin: 0 0 20px; padding: 56px 0 8px 8px; /* adjust for padding of li */
  position: relative;
  border: 1px solid rgba(0,0,0,0.04);
  flex-grow: 1;
  list-style: none;
  overflow-y: scroll;
}

.sidebar ul.curSelections .resetSelections {
  width: 219px; height: 32px;
  margin: 0 auto;
  position: absolute;
  top: 12px; right: 0; left: 0;
  border: none;
  background: whitesmoke;
}

.sidebar ul.curSelections>li {
  width: 50%;
  padding-right: 8px; padding-bottom: 8px;
  float: left;
  box-sizing: border-box;
}

.sidebar ul.curSelections>li img {
  width: 100%;
  display: block;
  opacity: 1;
}

.sidebar ul.curSelections>li.noImages {
  width: 100%;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  background: none;
  color: gray;
}

.sidebar .photoCounter {
  margin-bottom: 12px;
  flex-shrink: 0;
  font-size: 0.8em;
}

.sidebar input[type='submit'] {
  flex-shrink: 0;
}

.sidebar .toggleDarkMode {
  margin-top: 12px;
}

.content {
  height: 100%;
  margin-left: 300px;
  padding: 32px 12px 32px 32px; /* adjust for padding of li */
  box-sizing: border-box;
  overflow-y: scroll;
}

ul.imgList {
  margin: 0; padding: 0;
  list-style: none;
}

ul.imgList>li {
  width: 33.33%;
  margin: 0; padding: 0 20px 20px 0;
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

ul.imgList>li .shield {
  position: absolute;
  top: 0; right: 20px; bottom: 20px; left: 0;
  cursor: pointer;
  user-select: none;
}

ul.imgList>li .shield>.selectedFill {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  /*border: 4px solid black;*/
  background: rgba(255,255,255,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

ul.imgList>li img {
  width: 100%;
  display: block;
}

/*ul.imgList>li>img:hover {
  border: 4px solid blue;
  box-sizing: border-box;
}*/
